body {
    width: 100%;
    background-color: #c39b46;
    font-family: "sans-serif", "arial";
    color: #000000;
}

h1,
h2,
h3 {
    text-align: center;
}

.container-fluid {
    width: 95%;
    min-width: 750px;
    height: auto;
    padding: 1.5px;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #6e4e1f;
    color: #ffffff;
}

#page-content {
    width: 100%;
    height: auto;
    min-width: 600px;
    margin: 0 auto;
    padding-bottom: 2em;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
}

.banner {
    text-align: center;
}

.mailform {
    min-width: 500px;
    width: 50%;
    height: auto;
    font-size: 85%;
    text-align: left;
    margin: 1em auto;
    padding: 3em;
    background-color: lightgrey;
}

#confirmation {
    min-width: 500px;
    width: 50%;
    height: 300px;
    font-size: 100%;
    margin: 0 auto;
    padding: 3em;
    background-color: lightgrey;
}

.mailform input {
    float: right;
    margin-right: 5%;
    width: 55%;
}

.mailform label {
    float: left;
    margin-left: 5%;
}


form input[type='submit'] {
    float: left;
    width: 20%;
}

form input[name='hidden_field'] {
    visibility: hidden;
}

#newsletter_format {
    width: 40%;
    clear: both;
    margin-left: 5%;
    display: block;
}

#newsletter_format input {
    float: left;
}


#ending_stuff {
    clear: both;
    display: block;
    margin-left: 5%;
}

#ending_stuff input[type='reset'] {
    display: block;
    float: left;
    width: 20%;
}

button {
    padding: 1em;
    background-color: #7a7a7a;
    color: white;
    font-weight: bold;
    border-radius: 6%;
}

.container-fluid-report {
    width: 95%;
    min-width: 1200px;
    margin: 0 auto;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #6e4e1f;
    color: #ffffff;
    padding: 1.5px;


}

#page-content-report {
    width: 100%;
    min-width: 1196px;
    margin: 0 auto;
    height: auto;
    padding-bottom: 2em;
    background-color: #ffffff;

    text-align: center;
    color: #000000;
}

#newsletter-report {
    margin: 0 auto;
}

#newsletter-report th:nth-child(1) {
    width: 100px;
}

#newsletter-report th:nth-child(2) {
    width: 100px;
}

#newsletter-report th:nth-child(3) {
    width: 200px;
}

#newsletter-report th:nth-child(4) {
    width: 100px;
}

#newsletter-report th:nth-child(5) {
    width: 75px;
}

#newsletter-report th:nth-child(6) {
    text-align: center;
    width: 75px;
}

#newsletter-report th:nth-child(7) {
    width: 200px;
}

#newsletter-report th:nth-child(8) {
    width: 75px;
}

#newsletter-report th:nth-child(9) {
    width: 75px;
}

#newsletter-report td {
    border: solid 1px #000000;
}

nav li {
    width: 8em;
    font-size: 115%;
}

.dropdown-divider {
    float: left;
}

nav {
    border-radius: 1%;
}
